/* Home Section Styling */
.hero-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    background-image: url(../assets/bg-hero.jpg);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
}

.hero-img, .hero-txt {
    width: 45%;
}

.hero-txt > h1 {
    font-size: 60px;
    color: white;
}

.hero-txt > p {
    color: white;
    margin: 20px 0;     
}

.btn {
    padding: 18px 40px;
    font-size: 17px;

    cursor: pointer;
    outline: none;
    border: none;
    border: 1px solid rgb(141, 7, 7);
    border-radius: 2px;

    color: white;
    background-color: rgb(141, 7, 7);
    transition: 200ms;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid rgb(141, 7, 7);
}

.hero-img > img {
    width: 90%;
    float: right;
    animation-name: hero-img-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.section-heading {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}

.section-heading > p {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: rgb(141, 7, 7);
}

.section-heading > div {
    width: 40px;
    height: 2px;
    margin-left: 7px;
    border-radius: 3px;

    background-color: rgb(141, 7, 7);
}

@keyframes hero-img-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* About Section Styling */

.about-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    margin-top: 50px;
}

.about-section > div {
    width: 45%;
}

.about-images {
    display: flex;
    flex-wrap: wrap;

    margin: 5px;
}

.images-div {
    width: 45%;
    height: 45%;

    margin: 5px;
}

.about-content {
    padding: 50px 0 ;
}

.about-img-1, .about-img-4{
    width: 100%;
}

.about-img-2, .about-img-3 {
    width: 80%;
}

.about-img-2 {
    margin-top: 20%;
}

.about-img-3 {
    margin-left: 20%;
}

.about-heading {
    margin: 0;
}

.main-heading {
    font-size: 35px;
    text-align: center;
}

.about-icon {
    color: rgb(141, 7, 7);
}

.about-txt {
    color: rgb(35, 35, 35);
    margin: 30px 0;
}

.about-cards-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.readmore-btn:hover {
    color: rgb(141, 7, 7);
}

/* Menu Section Styling */

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodcategory-card-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.food-items {
    width: 85%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    margin: 60px 0;
}

/* Chefs Section Styling */

.chefs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefs-card-contanier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
    overflow-x: auto;
    width: 100%;
    height: 400px;
}


@media (max-width: 1350px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }    
    .about-section > div {
        width: 80%;
        justify-content: center;
    }
}

@media (max-width: 1060px) {
    .food-items {
        grid-template-columns: 100%;        
    }    
    .chefs-card-contanier {
        justify-content: flex-start;
    }
}

@media (max-width: 880px) {
    .hero-section {
        height: auto;
    }
    .overlay {
        flex-direction: column;
        padding: 15px 0; 
    }
    .overlay > div {
        padding: 15px 0; 
        text-align: center;
    }
    .hero-txt {
        width: 90%;
    }
    .hero-img {
        width: 80%;
    }
    .hero-img > img {
        width: 70%;
        float: none;
    }
}

@media (max-width: 625px) {
    .about-section > div {
        width: 100%;
    }  
    .foodcategory-card-div {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 510px) {
    .hero-txt > h1 {
       font-size: 40px; 
    }
    .hero-txt > p {
        font-size: 13px;
    }
    .btn {
        scale: 0.8;
    }
    .about-cards-div {
        flex-direction: column;
    }  
    .about-section {
        padding: 0 25px;
    }
    .main-heading {
        font-size: 30px;
    }
}