/* Home Section Styling */
.hero-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.664);
    background-image: url(../assets/bg-hero.jpg);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
}

.hero-img, .hero-txt {
    width: 45%;
}

.hero-txt > h1 {
    font-size: 60px;
    color: white;
}

.hero-txt > p {
    color: white;
    margin: 20px 0;     
}

.hero-txt > button {
    padding: 18px 40px;
    font-size: 17px;

    cursor: pointer;
    outline: none;
    border: none;
    border: 1px solid rgb(141, 7, 7);
    border-radius: 2px;

    color: white;
    background-color: rgb(141, 7, 7);
    transition: 200ms;
}

.hero-txt > button:hover {
    background-color: transparent;
    border: 1px solid rgb(141, 7, 7);
}

.hero-img > img {
    width: 90%;
    float: right;
    animation-name: hero-img-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1;
}

.home-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 30px 0;
}

.services-heading {
    display: flex;
    align-items: center;

    margin-top: 10px;
    margin-left: 20px;
}

.services-heading > p {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: rgb(35, 35, 35);
}

.services-heading > div {
    width: 40px;
    height: 2px;
    margin-left: 7px;
    border-radius: 3px;

    background-color: rgb(141, 7, 7);
}

@keyframes hero-img-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* About Section Styling */

.about-section {
    
}